.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 40px;
}

.App span {
  font-size: 100px;
  font-weight: bold;
  color: #ff68be;
}

button {
  width: 120px;
  height: 40px;
  cursor: pointer;
  background-color: #a468ff;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: #794dbd;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


